body {
  --background: rgb(51, 51, 51);
  background: var(--background);
}

#tunnel {
  --diameter: 900px;
  width: var(--diameter);
  height: var(--diameter);
  top: calc(50% - var(--diameter) / 2);
  left: calc(50% - var(--diameter) / 2);
  background: radial-gradient(circle,
   rgba(0,0,0,1) 10%, 
   rgba(0,0,0,0) 50%, 
   rgba(154,78,200,1) 56%,
   rgba(154,78,200,1) 58%,
   var(--background) 65%);
  border-radius: 50%;
  position: absolute;
}

.ring {
  z-index: -1;
  background: radial-gradient(circle, 
    rgba(131,126,214,1) 58%, 
    rgba(176,30,185,1) 65%, 
    rgba(131,126,214,1) 70%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  position: absolute;
}

#tunnelAnimation {
  animation-name: tunnel-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes tunnel-effect {
  from {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%; 
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
}

#arrow {
  animation-name: arrow-idle;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;

  position: absolute;
  width: 100px;
  left: calc((var(--diameter) - 100px) / 2);
  top: 75%;
}

@keyframes arrow-idle {
  from {
    width: 100px;
    top: 75%;
    left: calc((var(--diameter) - 100px) / 2);
  }
  to {
    width: 120px;
    top: 77%;
    left: calc((var(--diameter) - 120px) / 2);
  }
}

#content {
  position: absolute;
  width: 170px;
  left: calc((var(--diameter) - 180px) / 2);
  top: calc((var(--diameter) - 180px) / 2);
  opacity: 1;
}

#contentImage {
  animation-name: content-scroll;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-play-state: paused;

  --contentDiameter: 170px;
  position: absolute;
  width: var(--contentDiameter);
  border: 5px solid rgb(63, 5, 63);
  border-radius: 50%;
}

@keyframes content-scroll {
  from {
    width: 0%;
    left: calc(var(--contentDiameter) / 2);
    top: calc(var(--contentDiameter) / 2);
    opacity: 0;
  }
  to {
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

#contentTitle {
  opacity: 0;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  position: absolute;
  color: aquamarine;
  width: 100%;
  top: -60px;
}